body{
    background-color:beige;
}

h1{
    color:midnightblue;text-align: center;
    font-size: 40px;
}

h2{
    font-size: 25px;
}    

p{
    font-size: 20px;
    font-style:italic;
    text-align:justify;
}

#text{

    font-size: 18px;
    font-style: oblique;
    text-align:justify;

}

ul{
font-size: 18px;
line-height: 35px;
list-style:upper-roman;
width: fit-content;
}

#Mapetit {
    border-radius: 25px;
}

table{
    font-family:Arial, Helvetica, sans-serif ;
    font-style:oblique ;
    font-size: 15px;
    font-weight:bold;
    color:darkblue;
    background-color:khaki;
    text-align:center;
    table-layout: auto;
    border-width: 3px;
    border-color:darkblue;
    text-decoration:solid;
    border-style:solid;
}

.texto{
    font-size: 20px;
}

a:hover{

    color: red;

}
